# Gradle
.gradle
/local.properties
**/build/
**/.gradle/
**/out/
**/captures/
**/.kotlin/
**/.idea/

# Android
*.iml
.cxx/
.externalNativeBuild/

# Signing artifacts
keystore.properties
*.jks
*.keystore

# Bmad
.codex
_bmad
_bmad-output
